body {
  font-family: "Open Sans", sans-serif;
}
/* NAV */
.suri-nav {
  background-color: #e83e8c;
  min-height: 75px;
  margin-bottom: 41px;
}

.suri-nav .navbar-collapse .navbar-nav .nav-link {
  color: #fff;
}
.navbar-brand img {
  width: 126px;
}
.suri-nav__link {
  color: #ffffff80;
}
/* TITULO */
.suri-titulo {
  font-weight: 700;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 0px;
  color: #707070;
  text-align: center;
  margin-bottom: 29px;
}
/* CARDS */
.card {
  margin-bottom: 50px;
  width: 248px;
}
.card-title {
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 7px;
}
.list-group li {
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 13px;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
}
.card-body {
  padding-top: 16px;
  padding-bottom: 21px;
}
.suri-links {
  font-size: 10px;
  font-weight: 400;
  margin-left: 18px;
  margin-bottom: 13px;
  margin-top: 11px;
}
a.card-link {
  text-decoration: none;
}

/* Footer */
.suri-footer {
  display: none;
  background-color: #17a2b8;
  min-height: 170px;
  min-width: 320px;
  text-align: center;
}

.medios-de-pago {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 10px;
  padding-top: 50px;
}

.iconos i {
  margin-right: 28px;
  color: #fff;
}
.texto-footer {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.texto-footer p {
  font-weight: 700;
}

.suri-footer-rosado {
  background-image: url(../img/logo-footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 53px 100px;
  background-color: #e83e8c;
  min-height: 184px;
  min-width: 320px;
}

/* Breakpoints  Version desktop*/
@media (min-width: 992px) {
  .suri-nav {
    margin-bottom: 64px;
  }

  .suri-titulo {
    font-size: 60px;
    line-height: 82px;
    margin-bottom: 77px;
  }
  .card {
    margin-bottom: 64px;
  }
  .suri-footer {
    display: block;
  }
}
